$black: #000000;
$gray: #5d5d5d;
$darkred: #c75646;
$red: #e09690;
$darkgreen: #8eb33b;
$green: #cdee69;
$darkyellow: #d0b03c;
$yellow: #ffe377;
$darkblue: #72b3cc;
$blue: #9cd9f0;
$darkmagenta: #c8a0d1;
$magenta: #fbb1f9;
$darkcyan: #218693;
$cyan: #77dfd8;
$lightgray: #b0b0b0;
$white: #f7f7f7;

body {
  background: black;
  color: white;
  font-family: monospace;
}

.song {
  &.speed--fast {
    color: $darkblue;
  }
  &.speed--slow {
    color: $blue;
  }

  .indicator-1 {
    width: 7px;
    height: 7px;
    border-radius: 7px;
    border: 1px solid $gray;
    display: inline-block;
    margin: 0 17px 0 7px;
  }

  &.ready--yes {
    color: $green;
  }

  &.ready--no {
    color: gray;
  }
}
